html, body {
    height: 100%;
}

body {
    display: flex;
    background-color: rgb(45, 49, 53);
    justify-content: center;
    align-items: center;
}

#container {
    background-color: whitesmoke;
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.row,
#zeropointContainer,
#equalsContainer {
    display: flex;
    flex: 1;
    gap: 5px;
}

button {
    flex: 1;
    border-radius: 50%;
}

#screen-container {
    background-color: rgb(219, 213, 213);
    height: 100px;
    box-sizing: border-box;
    margin: 20px auto;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 315px;
}

#screen1 {
    font-size: 40px;
    font-family: system-ui;
    overflow: auto;
}

#keyboard {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 10px 20px 20px;
    gap: 5px;
}

#AC {
    background: rgb(203, 240, 227);
}

#equalsBtn {
    border-radius: 20px;
    background: rgb(214, 207, 112);
}

.op, .function {
    background: rgb(216, 221, 190);
}

.digit {
    background: rgb(206, 205, 205)
}